<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
	<title>Sharks English School | IELTS va Ingliz Tili Kurslari | Samarqand</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description"
		content="Sharks English School - Samarqanddagi IELTS va umumiy ingliz tili kurslari. IELTS'dan yuqori ball olishni istasangiz, biz bilan boshlang!" />

	<meta property="og:title" content="Sharks English School - IELTS va Ingliz Tili Kurslari">
	<meta property="og:description" content="IELTS'dan yuqori ball olishni xohlaysizmi? Biz bilan boshlang!">
	<meta property="og:image" content="https://sharksenglishschool.uz/static/images/logo.png">
	<meta property="og:url" content="https://sharksenglishschool.uz">


	<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "EducationalOrganization",
      "name": "Sharks English School",
      "url": "https://sharksenglishschool.uz",
      "logo": "https://sharksenglishschool.uz/static/images/logo.png",
      "description": "IELTS va umumiy ingliz tili kurslari, Samarqanddagi eng yaxshi English school.",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Samarqand",
        "addressCountry": "UZ"
      }
    }
  </script>

	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="{% static 'sharks/css/open-iconic-bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'sharks/css/animate.css' %}">

	<link rel="stylesheet" href="{% static 'sharks/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'sharks/css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'sharks/css/magnific-popup.css' %}">

	<link rel="stylesheet" href="{% static 'sharks/css/aos.css' %}">

	<link rel="stylesheet" href="{% static 'sharks/css/ionicons.min.css' %}">

	<link rel="stylesheet" href="{% static 'sharks/css/flaticon.css' %}">
	<link rel="stylesheet" href="{% static 'sharks/css/icomoon.css' %}">
	<link rel="stylesheet" href="{% static 'sharks/css/style.css' %}">

	<link rel="icon" href="{% static 'sharks/images/photo_2025-06-26_00-04-37.jpg' %}">
</head>

<body>
	<marquee behavior="" direction="left">This site is test mode right now</marquee>
	<div class="container">
		{% if success %}
		<div id="success-message" style="color: #e10600; font-weight: bold;">
			Your message is sent. Thanks!
		</div>
		{% endif %}
	</div>
	<div class="bg-top navbar-light">
		<div class="container">
			<div class="row no-gutters d-flex align-items-center align-items-stretch">
				<div class="col-md-4 d-flex align-items-center py-2">
					<a class="navbar-brand" href="/"><img
							src="{% static 'sharks/images/photo_2025-06-26_00-04-37.jpg' %}"
							alt="Sharks English School logo" width="80px"></a>
				</div>
				<div class="col-lg-8 d-block">
					<div class="row d-flex">
						<div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span
									class="icon-paper-plane"></span></div>
							<div class="text">
								<span>Email</span>
								<span>ergashevazizdev@email.com</span>
							</div>
						</div>
						<div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span
									class="icon-phone2"></span></div>
							<div class="text">
								<span>Call</span>
								<span>Call Us: +998 88 436 98 98</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container d-flex align-items-center px-4">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>
			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a href="index.html" class="nav-link pl-0">Home</a></li>
					<li class="nav-item"><a href="#teachers" class="nav-link">Teachers</a></li>
					<li class="nav-item"><a href="#section-counter" class="nav-link">About</a></li>
					<li class="nav-item"><a href="#result" class="nav-link">Result</a></li>
					<li class="nav-item"><a href="#comment" class="nav-link">Opinion</a></li>
					<li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->

	<section style="background-color: #e10600;">
		<div class="container">
			<video class="lazy-video" muted loop playsinline width="100%" height="auto" preload="none"
				data-src="{% static 'sharks/video/IMG_5895.MP4' %}">
			</video>


		</div>
	</section>

	<section class="ftco-services ftco-no-pb" style="margin-top: -10px;">
		<div class="container-wrap">
			<div class="row no-gutters">
				<div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
					<div class="media block-6 d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-teacher"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Certified Teachers</h3>
							<p>Even the all-powerful Pointing has no control about the blind texts it is an almost
								unorthographic.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
					<div class="media block-6 d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-reading"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Special Education</h3>
							<p>Even the all-powerful Pointing has no control about the blind texts it is an almost
								unorthographic.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
					<div class="media block-6 d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-books"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Book &amp; Library</h3>
							<p>Even the all-powerful Pointing has no control about the blind texts it is an almost
								unorthographic.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
					<div class="media block-6 d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-diploma"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Sport Clubs</h3>
							<p>Even the all-powerful Pointing has no control about the blind texts it is an almost
								unorthographic.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section" id="teachers">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4">Teachers</h2>
					<p>Separated they live in. A small river named Duden flows by their place and supplies it with the
						necessary regelialia. It is a paradisematic country</p>
				</div>
			</div>
			<div class="row ftco-animate justify-content-center">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel">
						<div class="staff">
							{% for teacher in teachers %}

							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch"
									style="background-image: url({{ teacher.photo.url }});">
								</div>
							</div>
							<div class="text pt-3 text-center">
								<h3>{{ teacher.name }}</h3>
								<span class="position mb-2">Teacher</span>
								<div class="faded">
									<p>{{ teacher.description }}</p>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>

	<section class="ftco-section ftco-counter img" id="section-counter">
		<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
				<h2 class="mb-4" style="color: white;">About US</h2>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2 d-flex">
				<div class="col-md-6 align-items-stretch d-flex">
					<div class="img img-video d-flex align-items-center"
						style="background-image: url({% static 'sharks/images/sharks.jpg' %});">
						<div class="video justify-content-center">
							<a href="https://youtu.be/i9t8gdaBsTg?si=W4OebmBqH5JJyRZo"
								class="icon-video popup-vimeo d-flex justify-content-center align-items-center"
								aria-label="Play video">
								<span class="ion-ios-play"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
					<h2 class="mb-4">Sharks English School</h2>
					<p>Separated they live in. A small river named Duden flows by their place and supplies it with the
						necessary regelialia. It is a paradisematic country. A small river named Duden flows by their
						place and supplies it with the necessary regelialia. It is a paradisematic country, in which
						roasted parts of sentences fly into your mouth.</p>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
						is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
				</div>
			</div>
			<div class="row d-md-flex align-items-center justify-content-center">
				<div class="col-lg-12">
					<div class="row d-md-flex align-items-center">
						<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="icon"><span class="flaticon-doctor"></span></div>
								<div class="text">
									<strong class="number" data-number="8">0</strong>
									<span>Teachers</span>
								</div>
							</div>
						</div>
						<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="icon"><span class="flaticon-doctor"></span></div>
								<div class="text">
									<strong class="number" data-number="401">0</strong>
									<span>Students</span>
								</div>
							</div>
						</div>
						<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="icon"><span class="flaticon-doctor"></span></div>
								<div class="text">
									<strong class="number" data-number="60">0</strong>
									<span>IELTS</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section" id="result">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4">Result</h2>
					<p>Separated they live in. A small river named Duden flows by their place and supplies it with the
						necessary regelialia. It is a paradisematic country</p>
				</div>
			</div>
			<div class="row ftco-animate justify-content-center">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel">
						{% for result in results %}
						<div class="item">
							<div class=" ftco-animate">
								<a href="{{ result.image.url }}"
									class="gallery image-popup img d-flex align-items-center"
									style="background-image: url({{ result.image.url }});">
									<div class="icon mb-4 d-flex align-items-center justify-content-center">
										<span class="icon-file"></span>
									</div>
								</a>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>


	<section class="ftco-section testimony-section" id="comment">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4">Student Says About Us</h2>
					<p>Separated they live in. A small river named Duden flows by their place and supplies it with the
						necessary regelialia. It is a paradisematic country</p>
				</div>
			</div>
			<div class="row ftco-animate justify-content-center">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel">
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="user-img mr-4"
									style="background-image: url(https://cdn-icons-png.flaticon.com/512/219/219983.png)">
								</div>
								<div class="text ml-2">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and
										Consonantia, there live the blind texts.</p>
									<p class="name">Racky Henderson</p>
									<span class="position">Father</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="user-img mr-4"
									style="background-image: url(https://cdn-icons-png.flaticon.com/512/219/219983.png)">
								</div>
								<div class="text ml-2">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and
										Consonantia, there live the blind texts.</p>
									<p class="name">Racky Henderson</p>
									<span class="position">Father</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="user-img mr-4"
									style="background-image: url(https://cdn-icons-png.flaticon.com/512/219/219983.png)">
								</div>
								<div class="text ml-2">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and
										Consonantia, there live the blind texts.</p>
									<p class="name">Racky Henderson</p>
									<span class="position">Father</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="user-img mr-4"
									style="background-image: url(https://cdn-icons-png.flaticon.com/512/219/219983.png)">
								</div>
								<div class="text ml-2">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and
										Consonantia, there live the blind texts.</p>
									<p class="name">Racky Henderson</p>
									<span class="position">Father</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb contact-section" id="contact">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4">Contact</h2>
					<p>Separated they live in. A small river named Duden flows by their place and supplies it with the
						necessary regelialia. It is a paradisematic country</p>
				</div>
			</div>
			<div class="row d-flex align-items-stretch no-gutters">
				<div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
					<form method="POST">
						{% csrf_token %}
						<div class="form-group">
							<input type="text" name="name" class="form-control" placeholder="Your Name" required>
						</div>
						<div class="form-group">
							<input type="text" name="phone" class="form-control" placeholder="Tel Number" required>
						</div>
						<div class="form-group">
							<textarea name="message" class="form-control" placeholder="Your Message"
								required></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
						</div>
					</form>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<div style="position:relative;overflow:hidden;">
						<a href="https://yandex.uz/maps/org/sharks_english_school/175945398785/?utm_medium=mapframe&utm_source=maps"
							style="color:#eee;font-size:12px;position:absolute;top:0px;">Sharks English School</a>
						<a href="https://yandex.uz/maps/10334/samarkand/category/foreign_language_courses/184106160/?utm_medium=mapframe&utm_source=maps"
							style="color:#eee;font-size:12px;position:absolute;top:14px;">Курсы иностранных языков в
							Самарканде</a>
						<a href="https://yandex.uz/maps/10334/samarkand/category/educational_center/184106168/?utm_medium=mapframe&utm_source=maps"
							style="color:#eee;font-size:12px;position:absolute;top:28px;">Учебный центр в Самарканде</a>
						<iframe
							src="https://yandex.uz/map-widget/v1/org/sharks_english_school/175945398785/?ll=66.947395%2C39.632569&z=17"
							width="560" height="400" frameborder="1" allowfullscreen="true" allowfullscreen
							loading="lazy" referrerpolicy="no-referrer-when-downgrade"
							title="Sharks English School location on Google Maps">
							style=" position:relative;"></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>



	<footer class="ftco-footer ftco-bg-dark ftco-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-6 col-lg-4">
					<div class="ftco-footer-widget mb-5">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text"><a
											href="https://yandex.uz/maps/org/sharks_english_school/175945398785/?utm_medium=mapframe&utm_source=maps"
											target="_blank">Usto Jalol Jo'rayev ko'chasi, 45</a></span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929
											210</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span
											class="text">info@yourdomain.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="ftco-footer-widget mb-5 ml-md-4">
						<h2 class="ftco-heading-2">Links</h2>
						<ul class="list-unstyled">
							<li><a href="index.html"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
							<li><a href="#teachers"><span class="ion-ios-arrow-round-forward mr-2"></span>Teachers</a>
							</li>
							<li><a href="#section-counter"><span
										class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
							<li><a href="#result"><span class="ion-ios-arrow-round-forward mr-2"></span>Result</a></li>
							<li><a href="#comment"><span class="ion-ios-arrow-round-forward mr-2"></span>Opinion</a>
							</li>
							<li><a href="#contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="ftco-footer-widget mb-5">
						<h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
							<li class="ftco-animate"><a href="#"><span class="icon-telegram"></span></a></li>
							<li class="ftco-animate"><a href="https://instagram.com/sharksenglishschool"
									target="_blank"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						&copy;2025-
						<script>document.write(new Date().getFullYear());</script>| Template by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg>
	</div>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const successMessage = document.getElementById("success-message");
			if (successMessage) {
				setTimeout(function () {
					successMessage.style.display = "none";
				}, 5000);
			}
		});
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const video = document.querySelector(".lazy-video");

			const observer = new IntersectionObserver(function (entries, observer) {
				entries.forEach(entry => {
					if (entry.isIntersecting) {
						const source = document.createElement("source");
						source.src = video.dataset.src;
						source.type = "video/mp4";
						video.appendChild(source);
						video.load();
						video.play();
						observer.unobserve(video);
					}
				});
			}, { threshold: 0.5 });

			if (video) {
				observer.observe(video);
			}
		});
	</script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script src="{% static 'sharks/js/jquery.min.js' %}"></script>
	<script src="{% static 'sharks/js/jquery-migrate-3.0.1.min.js' %}"></script>
	<script src="{% static 'sharks/js/popper.min.js' %}"></script>
	<script src="{% static 'sharks/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'sharks/js/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'sharks/js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'sharks/js/jquery.stellar.min.js' %}"></script>
	<script src="{% static 'sharks/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'sharks/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'sharks/js/aos.js' %}"></script>
	<script src="{% static 'sharks/js/jquery.animateNumber.min.js' %}"></script>
	<script src="{% static 'sharks/js/scrollax.min.js' %}"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="{% static 'sharks/js/google-map.js' %}"></script>
	<script src="{% static 'sharks/js/main.js' %}"></script>
	<script async src="https://mc.yandex.ru/metrika/tag.js"></script>




</body>

</html>